<div class="wrapper">
    <div class="contents">

        <div class="add-view" *ngIf="currentUser.role==='Citizen'">
            <input type="button" value="Create a New View" [routerLink]="['/addview']">
        </div>


        <div class="display-views" >
            <div class="view-card" *ngFor="let view of allViews; let i=index">
                <h3>{{view.view.title}}</h3>
                <div class="view-data">
                    <p>By: {{view.view.creatername}}</p>
                    <p>{{view.view.createdat}}</p>
                </div>

                <div class="view-content">
                    <p>
                      {{view.view.description}}
                    </p>
                    <p *ngIf="view.view.viewsummary !== 'NO_SUMMARY'">View Summary:{{view.view.viewsummary}}</p>
                    <p>Comments: {{view.commentsArray.length}}</p>

                    
                </div>

                <div class="view-action">
                    <input type="button" value="Join Discussion" [routerLink]="['/view/'+view.view.id]">
                </div>

            </div>
           

    

        </div>

        <!-- <div class="pagination">
            <button (click)="prevPage()">Previous</button>
            <span class="page-number">{{currentPage + 1 }}/{{ totalPages }}</span>
            <button (click)="nextPage()">Next</button>
        </div> -->
    </div>