<div class="wrapper">
    <div class="contents">



        <div class="vote-card" *ngIf="retrievedPoll">

            <form action="" [formGroup]="addVoteForm" (ngSubmit)="onSubmit()">


                <p>
                    {{retrievedPoll.poll.question}}
                </p>


                <div class="choices" *ngFor="let choice of retrievedPoll.choicesArray; let i = index">

                    <label for="">
                        <input type="radio"  formControlName="choice" id="" value="{{choice.id}}"> {{choice.choicetext}}
                    </label>

                </div>


                <div class="vote-action">
                    <input type="submit" value="Vote" [disabled]="addVoteForm.invalid">
                </div>

            </form>

        </div>

        <div class="result-card" *ngIf="retrievedPoll">
            <h3>Results</h3>
            <div class="result-record" *ngFor="let choice of retrievedPoll.choicesArray; let i = index">
                <label for="">{{choice.choicetext}}: {{ choice.votecount }} Vote(s)</label>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="calculatePercentage(choice)">
                        {{ calculatePercentage(choice) | number: '1.2-2' }}%
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>