<div class="wrapper">
    <div class="contents">
        <div class="container">
            <div class="view-card" *ngIf="retrievedView">
                <h3>{{retrievedView.view.title}}</h3>

                <div class="view-data" >
                    <p>By: {{retrievedView.view.creatername}}</p>
                    <p>{{retrievedView.view.createdat}}</p>
                  
                </div>
                <p>
                    {{retrievedView.view.description}}
                </p>
                <p *ngIf="retrievedView.view.viewsummary !== 'NO_SUMMARY'">View Summary:{{retrievedView.view.viewsummary}}</p>
                <p>Comments: {{retrievedView.commentsArray.length}}</p>
            </div>


            <div class="view-comments" *ngIf="retrievedView">
                <h3>Comments </h3>

                <div class="comment" *ngFor="let comment of retrievedView.commentsArray">
                    <h4> {{comment.creatername}} </h4>
                    <p> {{comment.comment}}  </p>
                    <div class="comment-data">
                        <p> {{comment.createdat}}</p>
                        <!-- <p>{{comment.time}}</p> -->
                    </div>
                </div>


            </div>
        </div>

        <div class="new-comment">
            <form [formGroup]="addCommentForm" (ngSubmit)="onSubmit()">
                <div class="chat-box">
                    <input type="text" placeholder="Type your comment here" formControlName="comment">
                    <button type="submit" [disabled]="addCommentForm.invalid">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>