<div class="wrapper">
    <div class="contents">
        <div class="add-poll "*ngIf="currentUser.role=='Government Official'">
            <input type="button" value="Create a New Poll" [routerLink]="['/addpoll']">
        </div>
        <div class="polls-container" *ngIf="allPolls" >

            <div class="poll-card" *ngFor="let poll of allPolls">
                <h3>{{poll.poll.question}}</h3>
                <!-- <p>Total Votes:{{poll.choicesArray.length}}</p> -->
               
                <input type="button" value="Contribute" [routerLink]="['/poll/'+poll.poll.id]">
            </div>

        
        </div>
    </div>
</div>