<div class="wrapper">
    <div class="contents">

        <div class="add-incident">
            <input type="button" value="Create a New Incident" [routerLink]="['/addincident']">
        </div>


        <div class="display-incidents" *ngIf="allIncidents">
            <div class="incident-card" *ngFor="let incident of allIncidents; let i = index">
                <div class="image">
                    <img [src]="incident.multimedia" alt="">
                </div>
                <div class="text-content">
                    <h3>{{incident.title}}</h3>
                    <p>{{incident.description}}</p>
                    <!-- <p>Summary: {{incident.incidentsummarry}} </p> -->
                    <p>Date: {{incident.createdat}}</p>
                    <p>Location: {{incident.location}}</p>
                    <p>Reporter: {{incident.creatername}}</p>
                    <!-- <p>Contact: {{incident.}}</p> -->
                </div>

            </div>

        </div>


    </div>
</div>